@model IEnumerable<ContosoSite.Models.Record08030822>

@{
    ViewBag.Title = "Record1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Record1</h2>



@using (Html.BeginForm())
{
    <p>
        Activity Name: @Html.DropDownList("activityName", "All") &nbsp &nbsp &nbsp
        Find by Action Name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" class="btn-warning btn-md" id="search-button" />
    </p>
}

<style>
    #search-button {
        margin-left: 40px;
    }
</style>





<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ActivityId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Action)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        
    </tr>

    @foreach(var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.ActivityId)
            </td>
            <td>
                @Html.DisplayFor(model => item.Name)
            </td>
            <td>
                @Html.DisplayFor(model => item.Location)
            </td>
            @*<td>
                @Html.DisplayFor(model => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(model => item.Longitude)
            </td>*@
            <td>
                @Html.DisplayFor(model => item.Action)
            </td>
            <td>
                @Html.DisplayFor(model => item.Time)
            </td>
        </tr>

    }
</table>
