@model IEnumerable<WebApplication1.Models.ActivityModels> 

@{ ViewBag.Title = "Index"; Layout = "~/Views/Shared/_Layout.cshtml"; } 
<h2>Index</h2> 
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Action)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActionPic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WiFi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
      
         <td>
            @Html.DisplayFor(modelItem => item.Action)
        </td>
        <td>
            @{
                if ((item.Action).IndexOf("Sit") > -1)
                {
                    <img src="@Url.Content("../ADLImage/sit.png")" height='50' width='50' />
                }
                if ((item.Action).IndexOf("Lying") > -1)
                {
                    <img src="@Url.Content("../ADLImage/lying.jpg")" height='50' width='50' />
                }
                if ((item.Action).IndexOf("night") > 0){
                    <img src="@Url.Content("../ADLImage/night.jpg")" height='50' width='50' />;
                }
                if ((item.Action).IndexOf("Moving") > -1){
                    <img src="@Url.Content("../ADLImage/moving.jpg")" height='50' width='50' />;
                }
                if ((item.Action).IndexOf("day") > 0 ) {
                    <img src="@Url.Content("../ADLImage/day.jpg")" height='50' width='50' />;
                }
                if ((item.Action).IndexOf("cook") > 0) {
                    <img src="@Url.Content("../ADLImage/cook.jpg")" height='50' width='50' />;
                }
                if ((item.Action).IndexOf("Same") > 0) {
                    <img src="@Url.Content("../ADLImage/p1.jpg")" height='50' width='50' />;
                }
                if ((item.Action).IndexOf("Still") > -1) {
                    <img src="@Url.Content("../ADLImage/still.png")" height='50' width='50' />;
                }
                if ((item.Action).IndexOf("another") > -1) {
                    <img src="@Url.Content("../ADLImage/p2.jpg")" height='50' width='50' />;
                }
                if ((item.Action).IndexOf("Watch") > 0) {
                    <img src="@Url.Content("../ADLImage/watch.jpg")" height='50' width='50' />;
                }
                if ((item.Action).IndexOf("Sleep") > 0 && (item.Action).IndexOf("Watch") < 0 ) {
                    <img src="@Url.Content("../ADLImage/sleep.png")" height='50' width='50' />;
                }
                if ((item.Action).IndexOf("step") > 0) {
                    <img src="@Url.Content("../ADLImage/walk.jpg")" height='50' width='50' />;
                }
                if ((item.Action).IndexOf("Stand") > 0) {
                    <img src="@Url.Content("../ADLImage/stand.jpg")" height='50' width='50' />;
                }
                if ((item.Action).IndexOf("shop") > 0) {
                    <img src="@Url.Content("../ADLImage/shop.png")" height='50' width='50' />;
                }
                if ((item.Action).IndexOf("drive") > 0) {
                    <img src="@Url.Content("../ADLImage/drive.jpg")" height='50' width='50' />;
                }
                if ((item.Action).IndexOf("Meal") > 0 ) {
                    <img src="@Url.Content("../ADLImage/meal.jpg")" height='50' width='50' />;
                }
                if ((item.Action).IndexOf("Work") > 0) {
                    <img src="@Url.Content("../ADLImage/work.jpg")" height='50' width='50' />;
                }
                if ((item.WiFi).ToLower().IndexOf("walmart") > -1 || (item.WiFi).ToLower().IndexOf("eagle") > -1) {
                    <img src="@Url.Content("../ADLImage/shop.png")" height='50' width='50' />;
                }
            }
            

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WiFi)
        </td>
        <td>
            <!-- 
             @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
             --> 
            @Html.ActionLink("Details", "Details", new { id=item.id }) 
        </td>
    </tr>
}

</table>
